/node_modules
/public/hot
/public/storage
/public/cache/*
/public/uploads/*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.DS_Store
composer.lock
.idea/
storage/app/medias/
public/mix-manifest\.json
public/js/
public/css/

\.php_cs\.cache
